* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /* Desplazamineto sueve al hacer clic en un enlace */
}

body{
    color: white; /* color del texto*/
    background: #000; /*color del fondo*/
}
/*
--------------------------------------------------------
1. Navegación Fija
*/
header nav{
    top:0;
    width: 100%;
    background: #000;
    padding: 15px;
    z-index: 1000; /* Asegurar que este por encima de otros elementos */
    position: fixed; /* fijar el menu en la pantalla */
} 

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}

header nav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

header nav ul li a:hover{
    color:#00ffcc;
}
/*
-------------------------------------------------------------
2. Seccion Inicio.
*/
.hero{
    height: 100vh ; /* que ocupe el 100% de la pantalla*/
    display: flex;  /* activando el display flex*/
    flex-direction: column; /* Organiza los elementos en columna, de arriba hacia abajo*/
    justify-content: center; /* Centra verticalmente los elementos*/
    align-items: center; /* centra hprizontalmente los elementos */
    background: linear-gradient(135deg, #000, #1a1a1a, #333333);
}

.hero-contenido{
    max-width: 800px; /*asigna un ancho maximo*/
    text-align: center; /* centra todo el texto del contenedor */
    margin: 0 auto;
}

.hero-titulo{
    font-size: 3rem; /*tamaño de letra*/
    margin-bottom: 15px; /*magen hacia abajo de 15px*/
}

.hero-subtitulo{
    color: #00ffcc;  /*Color*/
    margin-bottom: 15px; /*margen hacia abajo*/
    font-size: 1.5rem; /* tamaño de letra*/
    font-weight: 500; /* gresor de la letra */
}

.hero-descripcion{
    margin-bottom: 15px;
    font-size: 1.1rem;
    opacity: 0.8;
}

.hero-eslogan{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 40px;
    opacity: 0.8;
}

.hero-foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00ffcc;
    margin-bottom: 20px;
}
.hero-estadisticas{
    display: flex; /* Alinear en una sola fila */
    justify-content: center;
    gap: 40px;   /*serparar, poner un espaciado entre elementos*/
    margin-bottom: 40px;
    flex-wrap: wrap; /* Permite que se poga en columna cuando es tamaño movil*/
}
.esta-item{
    text-align: center; /*centrar el texto*/
}

.esta-numero{
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #00ffcc;
    margin-bottom: 5px;
}
.esta-nombre{
    font-size: 0.9rem;
    opacity: 0.8;
}
.hero-botones{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap; /* Permite que se poga en columna cuando es tamaño movil*/
}

.btn-whatsapp, .btn-linkedin, .btn-cv{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 5px;
    align-items: center;
    gap: 6px;
    border: 1px solid;
}
.btn-whatsapp{
    border-color: #25D366;
    color: #25D366;
}
.btn-linkedin{
    border-color: #0077b5;
    color: #0077b5;
}
.btn-cv{
    border-color: chocolate;
    color: chocolate;
}

.hero-nombre{
    background: linear-gradient(45deg, #667eea, #764ba2, #f093fb, #fda085);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transition: 0.3s ease;

}
.hero-nombre:hover{
     transform: scale(1.05);
     transition: 0.3s ease;
}

/*-------------------------------------------------------------*/
/*Sobre mi*/
/*.sobre*/
.sobre{
    text-align: center;
}

.sobre p{
    max-width: 800px;
    line-height: 1.8;
    margin: 0 auto 15px auto;
}

.sobre h2{
    margin-top: 50px;
    margin-bottom: 20px;
}


/*-------------------------------------------------------------*/
/*Mis tecnologias*/

.tecno{
    background: #000;

}

.tecno h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

}
.tecno-card{
    padding: 25px;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.09);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

.tecno-card:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.card-titulo{
    color: #00ffcc;
    font-size: 30px;
    margin-bottom: 20px;
    text-align:center;
}

.card-descripcion{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tecno-tecnologias{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}


/*--------------------------------------------------------------------------*/
/*Mis proyectos*/

.proyectos{
    text-align: center;
}

.proyectos h2{
    margin-bottom: 25px;
}

.proyecto-card{
    background-color: rgb(255,255,255,0.09);
    padding: 30px;
    border-radius: 15px;
    padding-bottom: 25px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    border-left: 4px solid #00ffcc;
    margin-bottom: 25px;
    transition: 0.3s ease;
}

.proyecto-titulo{
    font-size: 20px;
    color: #00ffcc;
    margin-bottom: 10px;
}

.proyecto-descripcion{
    font-style: italic;
    margin-bottom: 10px;
}

.proyecto-card:hover{
    background-color: #2a2a2a;
    transform: scale(1.1) rotate(-2deg);
    transition: 0.3s ease;
}

/*-----------------------------------------------------------------------*/
/*Contactos*/

.contacto{
    text-align: center;
}

.contacto h2{
    margin-bottom: 25px;
}

.contacto form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}
.contacto input, textarea{
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}
.contacto button{
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #00ffcc;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.contacto button:hover{
    background: #029578;
    color: white;
    transition: 0.3s ease;
}

.contacto button:active{
    transform: scale(0.98);
}

/*--------------------------------------------------------------------------------*/
/*FOOTER*/
.footer{
    text-align: center;
}
.footer h2{
    margin: 25px 0;
}

.contacto-info{
    margin-bottom: 25px;
}
.contacto-info h3{
    color: #00ffcc;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.contacto-sociales h3{
    color: #00ffcc;
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.contacto-sociales nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto-sociales nav ul li a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 5px;
}
.copyright{
    margin-top: 30px;
    color: #6d6d6d;
    font-size: 0.9rem;
    margin-bottom: 30px;
}